#content
{
	text-align: center;
	padding-top: 35%;
	text-shadow: 0px 4px 3px red,
				0px 8px 13px orange;
				/*0px 10px 15px yellow*/
}
body
{
	background: url(https://images.unsplash.com/photo-1552435053-01c010307582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2025&q=80); 
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: #e0dedd;
}
html
{
	height:100%;
}
.navbar-header .navbar-brand
{
	color: #007bff;
}
h1
{
	font-weight: 700;
	font-size: 5em;
}
hr{
	width: 400px;
	border-top: 1px solid white;
	border-bottom: rgba(0,0,0,0.2)
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}